[submodule "fmt"]
	path = subModules/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "spdlog"]
	path = subModules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "cppsl"]
	path = subModules/cppsl
	url = https://github.com/alexcvc/cppsl.git
